{% extends 'base.html' %} 
{% load static %}

{% block app_css %}
<link rel="stylesheet" href="{% static 'blog/css/styles.css'%}" />
{% endblock app_css %}

{% block header %}
<h1 class="display-4 text-left" style="margin-top: 100px;">{{heading}}</h1>
<p class="lead text-left">~ {{subheading}}</p>
{% endblock header %}

{% block content-1 %}
  <div class="row">
        <ol>
          {% for article in object_list %}
            <li>
              <a href="{% url 'article:detail' article.slug %}">
                {{article.title}} ~ {{article.author}} | {{article.publish}}
              </a>
            </li>
          {% endfor %}
        </ol>
  </div>

  <!-- nav pagination -->
  <nav>
    <ul class="pagination">
    {% if is_paginated %}
          <li class="page-item">
            {% if page_obj.has_previous %}
              <a class="page-link" href="{% url 'article:index' page_obj.previous_page_number %}">&laquo;</a>
            {% else %}
              <span class="disabled page-link text-muted">&laquo;</span>
            {% endif %}
          </li>

          {% for page_num in paginator.page_range %}
          <li class="page-item">
              <a class="page-link" href="{% url 'article:index' page_num %}">
                {{page_num}}
              </a>
            </li>
            {% endfor %}

          <li class="page-item">
            {% if page_obj.has_next %}
              <a class="page-link" href="{% url 'article:index' page_obj.next_page_number %}">&raquo;</a>
            {% else %}
              <span class="disabled page-link text-muted">&raquo;</span>
            {% endif %}
          </li>
    {% endif %}
    </ul>
  </nav>
{% endblock content-1 %}