{% extends 'base.html' %} 
{% load static %}

{% block app_css %}
<link rel="stylesheet" href="{% static 'blog/css/styles.css'%}" />
{% endblock app_css %}
  

{% block header %}
<h1 class="display-4 text-left" style="margin-top: 100px;">{{heading}}</h1>
<p class="lead text-left">~ {{subheading}}</p>
{% endblock header %}

{% block content-1 %}

  {% for post in Posts %}
    <div class="row" style="height: 400px;">
      <div class="col">
        <h1>{{post.title}}</h1>
        <br>
        <p>{{post.body}}</p>
        <br>
        <p>~ {{post.author}}</p>
        <br>
        <p>{{post.time_post}}</p>
      </div>
    </div>
  {% endfor %}

{% endblock content-1 %}