{% extends 'base.html' %} 
{% load static %}

{% block app_css %}
<link rel="stylesheet" href="{% static 'blog/css/styles.css'%}" />
{% endblock app_css %}

{% block header %}
<h1 class="display-4 text-left" style="margin-top: 100px;">{{heading}}</h1>
<p class="lead text-left">~ {{subheading}}</p>
{% endblock header %}

{% block content-1 %}

  <div class="row">
    <div class="col">
      <h1>Blog By Category</h1>
      <a href="{% url 'blog:index' %}" class="badge badge-primary"> All-post </a>
      {% for category in Categories %}
      <a href="{% url 'blog:index' %}?post_category={{category}}" class="badge badge-primary"> {{category}} </a>
      {% endfor %}
    </div>
    <div class="col mt-2">
      <a href="{% url 'blog:create' %}" class="badge badge-secondary float-right">+ Create Post</a>
    </div>
  </div>

  {% for post in Posts %}
    <div class="row my-5">
      <div class="col">
        <a href="{% url 'blog:detail' slug_post=post.slug %}" class="link-detail-post h1">
          {{post.title}}
        </a>
        <p> {{post.body | truncatechars:200}} <a href="{% url 'blog:detail' slug_post=post.slug %}">read more</a> </p>
        <p> {{post.publish}} </p>
      </div>
    </div>
  {% endfor %}

{% endblock content-1 %}