<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
</head>
<body>
    <h1> {{judul}} </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, asperiores? Neque ratione laudantium, recusandae ducimus est asperiores perspiciatis praesentium quis similique in sapiente reiciendis accusamus doloribus voluptatum quasi labore aut.</p>
    <h4>Penulis : {{penulis}} </h4>
</body>
</html>