<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Default</title>
</head>
<body>
    <h1>Home Default</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eligendi velit cumque consectetur! Repudiandae nulla nisi ratione sunt ipsum accusamus asperiores aspernatur iste nam animi, assumenda incidunt modi alias soluta. Suscipit veritatis deserunt fuga sed eaque magnam ipsam eveniet, delectus molestiae incidunt ea ratione provident dolor quo eos magni modi!</p>
</body>
</html>