<!-- template inheritance -->
{% extends 'base.html' %} 

{% block header %}
<h1 class="display-4">{{ heading }}</h1>
<p class="lead">~ {{ subheading }}</p>
{% endblock header %} 

{% block content-1 %}
  <div class="row" style="height: 100%">
    <div class="col">
    <h1>Form Field</h1>
      <form method="post">
        {% csrf_token %}
        <table>
          {{form_field.as_table}}
        </table>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
{% endblock content-1 %}
  
