<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class View</title>
</head>
<body>
    <h1>Home Class View</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolorum odit nobis aut officia quod tenetur, accusamus reprehenderit totam animi eligendi? Iure blanditiis beatae reiciendis necessitatibus perspiciatis doloremque laboriosam ipsum!</p>
</body>
</html>