{% extends 'base.html' %} 

{% block header %}
<h1 class="display-4 text-left" style="margin-top: 100px">{{heading}}</h1>
<p class="lead text-left">~ {{subheading}}</p>
{% endblock header %} 

{% block content-1 %}
<div class="row" style="height: 100%">
  <div class="col">
    <form method="post">
      {% csrf_token %} 
      <div class="form-group">
        {{contact_form.nama_lengkap.label_tag}}
        {{contact_form.nama_lengkap}}
      </div>
      <div class="form-group">
        {{contact_form.jenis_kelamin.label_tag}}
        
        {% for component in contact_form.jenis_kelamin %}
          <div class="form-check">
            {{component.tag}}
            <label for="{{component.id_for_label}}" class="form-check-label">
              {{component.choice_label}}
            </label>
          </div>
        {% endfor %}
      </div>
       <div class="form-group">
        {{contact_form.tanggal_lahir.label_tag}}
        <div class="form-row">
          {{contact_form.tanggal_lahir}}
        </div>
      </div>
      <div class="form-group">
        {{contact_form.email.label_tag}}
        {{contact_form.email}}
      </div>
      <div class="form-group">
        <div class="form-check">
          {{contact_form.agree}}
          <label for="{{contact_form.agree.id_for_label}}">
            {{contact_form.agree.label}}
          </label>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <br>
    {{nama}}
    <br> 
    {{email}}
  </div>
</div>
{% endblock content-1 %}
